In [1]:
pip install apyori

Requirement already satisfied: apyori in /opt/anaconda3/lib/python3.11/site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from apyori import apriori

In [3]:
store_data = pd.read_csv("MBK.csv", header=None)
display(store_data.head(15))
print(store_data.shape)

        0      1      2       3      4      5
0   Wine   Chips  Bread  Butter  Milk   Apple
1   Wine   Chips  Bread  Butter  Milk   Apple
2   Wine   Chips  Bread  Butter  Milk     NaN
3   Wine   Chips    NaN  Butter  Milk     NaN
4   Wine     NaN  Bread     NaN    NaN  Apple
5     NaN    NaN    NaN  Butter  Milk     NaN
6     NaN  Chips  Bread     NaN    NaN  Apple
7   Wine   Chips    NaN  Butter  Milk     NaN
8   Wine     NaN  Bread     NaN    NaN  Apple
9   Wine     NaN  Bread     NaN  Milk     NaN
10    NaN  Chips  Bread  Butter    NaN  Apple
11  Wine     NaN    NaN  Butter  Milk   Apple
12  Wine   Chips  Bread  Butter  Milk     NaN
13  Wine     NaN  Bread     NaN  Milk   Apple
14  Wine     NaN  Bread  Butter  Milk   Apple

(22, 6)

In [4]:
transactions = []
for i in range(0, len(store_data)):
    transactions.append([str(store_data.values[i,j]) for j in range(0, len(store_data.columns))])

In [5]:
association_rules = apriori(transactions, min_support=0.5, min_confidence=0.7, min_lift=1.2, min_length=2)
association_results = list(association_rules)

In [6]:
print(len(association_results ))

3

In [7]:
print(association_results )

[RelationRecord(items=frozenset({'Milk ', 'Butter'}), support=0.6363636363636364, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Butter'}), items_add=frozenset({'Milk '}), confidence=0.9333333333333333, lift=1.207843137254902), OrderedStatistic(items_base=frozenset({'Milk '}), items_add=frozenset({'Butter'}), confidence=0.8235294117647058, lift=1.2078431372549019)]), RelationRecord(items=frozenset({'Milk ', 'Bread', 'Wine '}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Milk ', 'Bread'}), items_add=frozenset({'Wine '}), confidence=0.9166666666666667, lift=1.2604166666666667)]), RelationRecord(items=frozenset({'Milk ', 'Wine ', 'Butter'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Wine ', 'Butter'}), items_add=frozenset({'Milk '}), confidence=1.0, lift=1.2941176470588236)])]

In [8]:
print("There are {} Relation derived.".format(len(association_results)))

There are 3 Relation derived.

In [9]:
for i in range(0, len(association_results)):
    print(association_results[i][0])

frozenset({'Milk ', 'Butter'})
frozenset({'Milk ', 'Bread', 'Wine '})
frozenset({'Milk ', 'Wine ', 'Butter'})

In [10]:

from mlxtend.preprocessing import TransactionEncoder

encoder = TransactionEncoder().fit(transactions)

# One-hot encode transactions
onehot = encoder.transform(transactions)

onehot = pd.DataFrame(onehot, columns = encoder.columns_).drop('nan', axis=1)

onehot.head()

   Apple  Bread  Butter  Chips  Milk   Wine
0   True   True    True   True   True   True
1   True   True    True   True   True   True
2  False   True    True   True   True   True
3  False  False    True   True   True   True
4   True   True   False  False  False   True

In [11]:
# Import the association rules function
from mlxtend.frequent_patterns import apriori, association_rules

# Compute frequent itemsets using the Apriori algorithm
frequent_itemsets = apriori(onehot, min_support = 0.5, 
                            max_len = 2, use_colnames = True)

# Compute all association rules using confidence
rules = association_rules(frequent_itemsets, 
                            metric = "confidence", 
                            min_threshold = 0.7)

# Print association rules
rules.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   antecedents         16 non-null     object
 1   consequents         16 non-null     object
 2   antecedent support  16 non-null     float64
 3   consequent support  16 non-null     float64
 4   support             16 non-null     float64
 5   confidence          16 non-null     float64
 6   lift                16 non-null     float64
 7   leverage            16 non-null     float64
 8   conviction          16 non-null     float64
 9   zhangs_metric       16 non-null     float64
dtypes: float64(8), object(2)
memory usage: 1.4+ KB

In [12]:
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Apple),(Bread),0.681818,0.727273,0.590909,0.866667,1.191667,0.095041,2.045455,0.505495
1,(Bread),(Apple),0.727273,0.681818,0.590909,0.812500,1.191667,0.095041,1.696970,0.589744
2,(Apple),(Milk ),0.681818,0.772727,0.500000,0.733333,0.949020,-0.026860,0.852273,-0.144444
3,(Apple),(Wine ),0.681818,0.727273,0.500000,0.733333,1.008333,0.004132,1.022727,0.025974
4,(Milk ),(Bread),0.772727,0.727273,0.545455,0.705882,0.970588,-0.016529,0.927273,-0.117647